@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="nomeU"></h1>
</div>
<div class="row jumbotron">
    <div class="input-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Nome e Mensagem</span>
            </div>
            <input type="text" id="user" class="form-control">
            <input type="text" id="msg" class="form-control">
            <input type="button" class="btn btn-primary" id="send" value="Enviar"></input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul id="mensagensLista" style="list-style-type: none;"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home.js"></script>