@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="nomeU"></h1>
</div>
<div class="row jumbotron">
    <div class="input-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Nome</span>
            </div>
            <input type="text" id="user" class="form-control" />
            <input type="button" class="btn btn-primary" id="sendN" value="Guardar" />
        </div>
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Mensagem</span>
            </div>
            <input type="text" id="msg" class="form-control" />
        </div>
        <input type="button" class="btn btn-primary float-right" id="send" value="Enviar" />
    </div>
</div>
<div class="row">
    <div class="col-4">
        <ul id="mensagensLista" style="list-style-type: none;">
        </ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home.js"></script>